.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    z-index: 3;
    p{
        font-size: 5vw;
        margin: 5px;
    }
}

.menuItem {
    font-size: 5vw;
    margin: 5px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
        color: #ff6a00;
    }
}